In [1]:
import numpy as np
import pandas as pd
import cv2
import pytesseract

import os
from glob import glob
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [2]:
imgPaths = glob('./Selected/*.jpeg')

In [3]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'

imgPath = imgPaths[0]
_, filename = os.path.split(imgPath)
print(filename)
# extract data and the text
image = cv2.imread(imgPath)
data = pytesseract.image_to_data(image)
dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
df = pd.DataFrame(dataList[1:],columns=dataList[0])
print(df)
df.dropna(inplace=True)
print(df)
df['conf'] = df['conf'].astype(float).astype(int)

useFulData = df.query('conf >= 30')

# Dataframe
businessCard = pd.DataFrame()
businessCard['text'] = useFulData['text']
businessCard['id'] = filename

000.jpeg
   level page_num block_num par_num line_num word_num  left   top width  \
0      1        1         0       0        0        0     0     0  1800
1      2        1         1       0        0        0     0     0  1800
2      3        1         1       1        0        0     0     0  1800
3      4        1         1       1        1        0     0     0  1800
4      5        1         1       1        1        1     0     0  1800
..   ...      ...       ...     ...      ...      ...   ...   ...   ...
70     2        1        12       0        0        0     0  1058  1800
71     3        1        12       1        0        0     0  1058  1800
72     4        1        12       1        1        0     0  1058  1800
73     5        1        12       1        1        1     0  1058  1800
74           None      None    None     None     None  None  None  None

   height       conf  text
0    1200         -1
1       1         -1
2       1         -1
3       1         -1
4       1  95.000000
..    ...        ...   ...
70    142         -1
71    142         -1
72    142         -1
73    142  95.000000
74   None       None  None

[75 rows x 12 columns]
   level page_num block_num par_num line_num word_num left   top width height  \
0      1        1         0       0        0        0    0     0  1800   1200
1      2        1         1       0        0        0    0     0  1800      1
2      3        1         1       1        0        0    0     0  1800      1
3      4        1         1       1        1        0    0     0  1800      1
4      5        1         1       1        1        1    0     0  1800      1
..   ...      ...       ...     ...      ...      ...  ...   ...   ...    ...
69     5        1        11       1        1        3  928  1091   797     55
70     2        1        12       0        0        0    0  1058  1800    142
71     3        1        12       1        0        0    0  1058  1800    142
72     4        1        12       1        1        0    0  1058  1800    142
73     5        1        12       1        1        1    0  1058  1800    142

         conf                         text
0          -1
1          -1
2          -1
3          -1
4   95.000000
..        ...                          ...
69  44.320713  )%info@laurelseducation.com
70         -1
71         -1
72         -1
73  95.000000

[74 rows x 12 columns]

In [4]:
businessCard

                           text        id
4                                000.jpeg
9                      040-4852  000.jpeg
10                        8881,  000.jpeg
11                        90309  000.jpeg
12                        52549  000.jpeg
14                           Fi  000.jpeg
15    /laurelsoverseaseducation  000.jpeg
20                      LAURELS  000.jpeg
24                     OVERSEAS  000.jpeg
25                  EDUCATIONAL  000.jpeg
26                  CONSULTANCY  000.jpeg
27                         PVT.  000.jpeg
28                         LTD.  000.jpeg
32                          Ir.  000.jpeg
33                           Sa  000.jpeg
35                            |  000.jpeg
37                            <  000.jpeg
39                          U.K  000.jpeg
43                    AUSTRALIA  000.jpeg
44                       CANADA  000.jpeg
45                      IRELAND  000.jpeg
49                               000.jpeg
53                               000.jpeg
54                               000.jpeg
55                               000.jpeg
59                               000.jpeg
63                               000.jpeg
67                           Â©)  000.jpeg
68     www.laurelseducation.com  000.jpeg
69  )%info@laurelseducation.com  000.jpeg
73                               000.jpeg

In [5]:
allBusinessCard = pd.DataFrame(columns=['id','text'])

for imgPath in  tqdm(imgPaths,desc='BusinessCard'):
    
    #imgPath = imgPaths[0]
    _, filename = os.path.split(imgPath)
    # extract data and text 
    image = cv2.imread(imgPath)
    data = pytesseract.image_to_data(image)
    dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
    df = pd.DataFrame(dataList[1:],columns=dataList[0])
    df.dropna(inplace=True)
    df['conf'] = df['conf'].astype(float).astype(int)

    useFulData = df.query('conf >= 30')

    # Dataframe
    businessCard = pd.DataFrame()
    businessCard['text'] = useFulData['text']
    businessCard['id'] = filename
    
    # concatenation
    allBusinessCard = pd.concat((allBusinessCard,businessCard))

BusinessCard:  18%|âââââââââââââââââââââ                                                                                                  | 52/293 [00:33<02:33,  1.57it/s]

KeyboardInterrupt:

In [ ]:
allBusinessCard.to_csv('businessCard.csv',index=False)

In [ ]:
allBusinessCard